<select class='select-option'
        required [(ngModel)]='optionSelected'
        (ngModelChange)='onOptionSelected()'>

    <option class='option'
            *ngFor='let option of options'
            [value]="option">{{option}}
    </option>

</select>
