.espace{
    margin: 10px;
}

input{
    border: 1px solid #ccc;
    border-color: aliceblue;
    border-radius: 4px 4px 0px 0px;
    height: 25px;
    width: 250px;
    color: grey;
    box-sizing: border-box;
}

.globaldiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
