<div class="globaldiv">
  <div>
    <h1>Connexion</h1>
  </div>
  <form #connexion="ngForm" (ngSubmit)="onSubmit()">
    <div class="espace">
      <div><label for="username">nom d'utilisateur: </label></div>
      <input type="text" id="username" [(ngModel)]="model.username" name="username" #username="ngModel" required>
      <div [hidden]="username.valid || username.pristine" class="alert">Le nom d'utilisateur est requis</div>
    </div>
    <div class="espace">
      <div><label for="password">mot de passe: </label></div>
      <input type="password" id="password" [(ngModel)]="model.password" name="password" #password="ngModel" required>
      <div [hidden]="password.valid || password.pristine" class="alert">Le mot de passe est requis</div>
    </div>
    <div class="espace">
      <button type="submit" class="button-blue" (click)="connect()" [disabled]="!connexion.form.valid">Connexion</button>
      <button type="submit" class="button-grey" [disabled]="connexion.form.valid">Connexion</button>
    </div>
  </form>
</div>