@font-face {
    font-family: Raleway;
    src: local('font/Raleway-Regular.ttf');
}

html, button{
    font-family: Raleway;
}

/*main {
    width: 100%;
}

body{
    margin: 0;
}*/

.button {
    background-color: inherit;
    border: none;
    color: #cccccc;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}

.menuButton{
    background-color: #B0AEF8;
    border: none;
    color: #000000;
    cursor: pointer;
    left: 0;
    padding-top: 5px;
    padding-left: 20px;
    position: absolute;
}

.menuButton:hover{
    color: #FFFFFF;
}

.container {
    clear: both;
    content: "";
    display: table;
}

.header{
    box-sizing: border-box;
    /*background-color: #B0AEF8;*/
    margin: 0;
    padding: 10px;
    text-align: center;
    /*width: 100%;*/
}

.header h1{
    margin: 5px;
}

.logoMenu{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

h2{
    color: #ffffff;
    text-align: center;
}

.menu {
    background-color: #2e353d;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: fixed !important;
    overflow: hidden;
    top: 0;
    width: 250px;
    z-index: 1;
}

.menuItem{
    background-color: inherit;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    float: left;
    font-size: 12pt;
    max-width: 250px;
    outline: 0;
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 250px;
}

.menuItem:hover, .button:hover {
    background-color: #cccccc;
    color: #000;
}

.menuAnimation {
    animation: animationLeft 0.4s;
    position: relative;
}

.sousMenu {
    background-color: #ffffff;
}

.sousMenuItem {
    color: #2e353d;
}

.account {
    bottom: 0;
    color: #ffffff;
    padding-bottom: 5px;
    position: absolute;
    text-align: center;
    width: 250px;
}

.account h4{
    margin-bottom: 0;
    margin-top: 5px;
}

.account a {
    color: #ffffff;
    text-decoration: none;
}

.avatar {
    border-radius: 50%;
    width: 60px;
}

@keyframes animationLeft {
    from {
        left: -300px;
        opacity: 0
    }
    to {
        left: 0;
        opacity: 1
    }
}

.fontLarge {
    font-size: 24px;
}
