<nav id="sidebar" class="menu">
  <div class="hideLarge">
    <button class="menuItem fontLarge" onclick="closeMenu()"><img src="assets/images/navbar/close.svg" alt="Croix fermeture" class="logoMenu"/>Fermer</button>
    <hr/>
  </div>
  <div>
    <h2>Consultation</h2>
    <button class="menuItem" onclick="sousMenu('menuDUT')"><img src="assets/images/navbar/computer.svg" alt="Ordinateur" class="logoMenu"/>DUT Informatique</button>
    <div id="menuDUT" class="sousMenu" style="display: none">
      <a routerLink="/feuille" class="sousMenuItem menuItem">Semestre 1</a>
      <a routerLink="/feuille" class="sousMenuItem menuItem">Semestre 2</a>
      <a routerLink="/feuille" class="sousMenuItem menuItem">Semestre 3</a>
      <a routerLink="/feuille" class="sousMenuItem menuItem">Semestre 4</a>
    </div>
    <button class="menuItem" onclick="sousMenu('menuLPWeb')"><img src="assets/images/navbar/web.svg" alt="Web" class="logoMenu"/>LP Web</button>
    <div id="menuLPWeb" class="sousMenu" style="display: none">
      <a href="#" class="sousMenuItem menuItem">Semestre 1</a>
      <a href="#" class="sousMenuItem menuItem">Semestre 2</a>
    </div>
    <button id="test" class="menuItem" onclick="sousMenu('menuEns')"><img src="assets/images/navbar/user.svg" alt="Enseignant" class="logoMenu"/>Enseignants</button>
    <div id="menuEns" class="sousMenu" style="display: none">
      <a href="#" class="sousMenuItem menuItem"><img src="assets/images/navbar/searchPerson.svg" alt="Consulter un enseignant" class="logoMenu"/>Consulter un enseignant</a>
      <a href="#" class="sousMenuItem menuItem"><img src="assets/images/navbar/team.svg" alt="Liste des enseignants" class="logoMenu"/>Liste des enseignants</a>
    </div>
  </div>
  <div class="admin ">
    <hr/>
    <h2>Administration</h2>
    <a href="#" class="menuItem"><img src="assets/images/navbar/newFile.svg" alt="Ajouter une feuille" class="logoMenu"/>Créer une feuille</a>
    <a routerLink="/adduser" class="menuItem"><img src="assets/images/navbar/addPerson.svg" alt="Ajouter un enseignant" class="logoMenu"/>Créer un enseignant</a>
    <a href="#" class="menuItem"><img src="assets/images/navbar/editFile.svg" alt="Modifier une feuille" class="logoMenu"/>Modifier une feuille</a>
  </div>
  <div class="account">
    <hr/>
    <img src="assets/images/navbar/avatar.png" class="avatar" alt="Avatar">
    <h4 class="" >{{ getUserName() }}</h4>
  </div>
</nav>
<!--<main>-->
  <div class="container header">
    <button class="menuButton fontLarge" onclick="openMenu()">&#9776; Menu</button>
    <!--<h1 id="nomPage">Page d'accueil</h1>-->
  </div>

  <!--<div class="container">
    <h3>Responsive Sidebar</h3>
    <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
    <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
    <p>The sidebar will overlay of the page content.</p>
    <p><b>Resize the browser window to see how it works.</b></p>
  </div>
</main>-->
