{% extends "::base.html.twig" %}

{% block title %}AppBundle:Login:editUser{% endblock %}

{% block body %}
<h1>Welcome to the Login:user page</h1>
  <h1>Users</h1>
  <ul>
    <p>{{titulaires}}</p>
    {% for vacataire in vacataires %}
        <li>{{ vacataire.nom}} {{vacataire.prenom }}</li>
    {% endfor %}
    {% for administrateur in administrateurs %}
        <li>{{ administrateur.nom}} {{administrateur.prenom }}</li>
    {% endfor %}
  </ul>
{% endblock %}
