/* You can add global styles to this file, and also import other style files */

/*form styles*/
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.alert{
  border-radius: 0px 0px 6px 6px;
  /*border-color:red;
  width: 200px;*/
  height: auto;
  background-color: #f2dede;
  /*margin-left: -20px;*/
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;

}

/*End O Form styles*/

/*Buttons styles*/
.button-blue{
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background-color: blue;   /*change background color to change the button color*/
    box-shadow: none;
    border: none;
    color: white;
}

.button-grey{
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background-color: grey;   /*change background color to change the button color*/
    box-shadow: none;
    border: none;
    color: white;
}

.button-red{
    border-radius: 6px;
    width: 100px;
    height: 35px;
    background-color: red;  /*change background color to change the button color*/
    box-shadow: none;
    border: none;
    color: white;
}

button[disabled]{
  display: none;
}
/*End O Button styles*/
