table {
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  }
  table tr:hover {
    background: #f4f4f4;
  }
  table tr:hover td {
    color: #555;
  }
  table th, table td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }
  table th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
  }
  table th.last {
    border-right: none;
  }
  td:hover{
      background: #dfb8b8;
  }

  table th, table td{
      text-align: center
  }

  #affect{
      cursor: pointer;
  }