<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Feuille de Service</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="add()">
        </a>
      </span>
      <table class="cd-table">
        <tr class="cd-table-column">

          <th [colSpan]="getNbUe()">Dut informatique</th>
        </tr>
        <tr class="cd-table-column">
          <th>Unité d'enseignement</th>
          <th [colSpan]="getNbModuleByUE(ue.idUe)" *ngFor="let ue of listeUE">{{ue.nomUe}}</th>
        </tr>
        <tr class="cd-table-column">
          <th>Modules</th>
          <th [colSpan]="getNbPeriodeByModule(module.idModule)" *ngFor="let module of listeModuleByUE">
            {{module.codeModule}}-{{module.nomModule}}-{{module.idModule}}</th>
        </tr>
        <tr>
          <th>Periodes</th>
          <th *ngFor="let item of listePeriode">{{item}}</th>
        </tr>
        <tr>
          <td>Heure CM</td>
          <td *ngFor="let item of listeHeureCM">{{item}}</td>
        </tr>
        <tr>
          <td>Heures TD</td>
          <td *ngFor="let item of listeHeureTD">{{item}}</td>
        </tr>
        <tr>
          <td>Heures TP</td>
          <td *ngFor="let item of listeHeureTP">{{item}}</td>
        </tr>
        <tr *ngFor="let group of listeGroupe">
          <td>{{group}}</td>

          <td id="affect" *ngFor="let item of getEnseignement(group)" data-toggle="modal" data-target="#exampleModal">
            {{item}}
          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>