<div class="globaldiv">
  <div>
    <h1>Ajout d'un utilisateur</h1>
  </div>
  <form #connexion="ngForm" (ngSubmit)="onSubmit()">
    <div class="espace">
      <div><label for="username">Mnemonique: </label></div>
      <input type="text" id="username" [(ngModel)]="model.username" name="username" #username="ngModel" required>
      <div [hidden]="username.valid || username.pristine" class="alert">Le nom d'utilisateur est requis</div>
    </div>
    <div class="espace">
      <div><label for="password">mot de passe: </label></div>
      <input type="password" id="password" [(ngModel)]="model.password" name="password" #password="ngModel" required>
      <div [hidden]="password.valid || password.pristine" class="alert">Le mot de passe est requis</div>
    </div>
    <div class="espace">
      <div><label for="nom">Nom: </label></div>
      <input type="nom" id="nom" [(ngModel)]="model.nom" name="nom" #nom="ngModel" required>
      <div [hidden]="nom.valid || nom.pristine" class="alert">Le nom est requis</div>
    </div>
    <div class="espace">
      <div><label for="prenom">Prenom: </label></div>
      <input type="prenom" id="prenom" [(ngModel)]="model.prenom" name="prenom" #prenom="ngModel" required>
      <div [hidden]="prenom.valid || prenom.pristine" class="alert">Le prenom est requis</div>
    </div>
    <div class="espace">
      <div><label for="mail">mail: </label></div>
      <input type="mail" id="mail" [(ngModel)]="model.mail" name="mail" #mail="ngModel" required>
      <div [hidden]="mail.valid || mail.pristine" class="alert">Le mail est requis</div>
    </div>
    <div class="espace">
      <div><label for="nbHeureMax">Nombre d'heures maximum pour le professeur: </label></div>
      <input type="nbHeureMax" id="nbHeureMax" [(ngModel)]="model.nbHeureMax" name="nbHeureMax" #nbHeureMax="ngModel" required>
      <div [hidden]="nbHeureMax.valid || nbHeureMax.pristine" class="alert">Le nombre d'heures maximum est requis</div>
    </div>
    <div class="espace">
      <div><label for="nbHeureMin">Nombre d'heure minimales pour le professeur: </label></div>
      <input type="nbHeureMin" id="nbHeureMin" [(ngModel)]="model.nbHeureMin" name="nbHeureMin" #nbHeureMin="ngModel" required>
      <div [hidden]="nbHeureMin.valid || nbHeureMin.pristine" class="alert">Le nombre d'heures minimal est requis</div>
    </div>
    <div class="espace">
      <div><label for="type">Type de professeur: </label></div>
      <select type="type" id="type" (ngModel)="lUser" name="type" #type="ngModel">
        <option *ngFor="let user of lUsers" [ngValue]="user">{{user.Name}}</option>
        <!--<option value="Vacataire" selected>Vacataire</option>
        <option value="Titulaire">Titulaire</option>
        <option value="Administrateur">Administrateur</option>-->
      </select>
    </div>
    <div class="espace">
      <button type="submit" class="button-blue" (click)="connect()" [disabled]="!connexion.form.valid">Connexion</button>
      <button type="submit" class="button-grey" [disabled]="connexion.form.valid">Connexion</button>
    </div>
  </form>
</div>
