{% extends "::base.html.twig" %}

{% block title %}Page enseignant{% endblock %}

{% block body %}
    {% if enseignant  %}
        {{ enseignant }}
    {% else %}
        <h1>Aucun n'enseignant n'existe avec le mnémonique {{ mnemo | upper}}</h1>
    {% endif %}
{% endblock %}
