{% extends "::base.html.twig" %}

{% block title %}Page enseignants{% endblock %}

{% block body %}
    {% if titulaires  %}
        {{ titulaires }}
        {% for titulaire in titulaires %}
            Titulaire : {{ titulaire }}
        {% endfor %}
    {% else %}
        <h1>Aucun n'enseignant n'existe</h1>
    {% endif %}
{% endblock %}
