body{
  background-color: #f2f2f2;
  text-align: center;
  font-family: monospace;
  letter-spacing: 2px;
  font-weight: 300;
}

h1{
  margin-top: 15px;
}

.logon{
  margin-top: 150px;
}

button{
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 4px;
  border: none;
  margin-top: 15px;
  margin-left: 200px;
}

input{
  border: none;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  width: 200px;
}

#pwd{
  margin-left: 23px;
}

div{
  border-radius: 4px;
  padding: 40px;
}

.fdr{
  background-color: green;
  box-shadow: 0px 2px 10px -5px #000;
  margin-right: 35px;
}

.kawa{
  background-color: red;
  box-shadow: 0px 2px 10px -5px #000;
}

.covoit{
  background-color: red;
  box-shadow: 0px 2px 10px -5px #000;
  margin-right: 35px;
}

.alter{
  background-color: green;
  box-shadow: 0px 2px 10px -5px #000;
}

.candi{
  background-color: red;
  box-shadow: 0px 2px 10px -5px #000;
}

a{
  color: white;
}

a:hover{
  color: white;
}
